* {
  margin: 0;
  padding: 0;
}

.header{
  background-image: url("../img/cover.png");
  background-size: cover;
  height: 600px;
}

button {
  color: white;
  background-color: green;
  cursor: crosshair;
}

.row {
  text-align: left;
}

.row p{
  font-size: 30px;
  color: green;
}

.row h1{
  font-size: 90px;
}
/*p#left{
  text-align: left;
}*/

img#dicey{
  height: 200px;
  width: 200px;
}

img#dicey2{
  height: 200px;
  width: 200px;
}
/*.bottom {*/
  /*background-image: url("../img/.png");
  background-size: cover;
  background-repeat: repeat;*/
  /*height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  text-align: center;
  border-bottom: 20px;*/
  /*background-image: url("../img/gr.png");*/
  /*
}
}*/

img#grass{
  /*top: 90px;*/
  position: relative;
}


body {
  background-image: url("../img/BG.png");
  background-size: cover;
}
/*span#grass{
    background-image: url("../img/gr.png");
    background-size: cover;
    width: 100%;
    padding: 10px;*/


}
